div {
    width: 600px;
    background-color: aqua;
}

img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    box-shadow: 10px 10px 30px rgba(20, 0, 75, 200.);
}

h1::before {
    content: "tekstas prieš";
    font-size: 20px;
}

.container {
    width 500px;
    height: 500px;
    border: 1px solid black;
    border-top-right-radius: 20px;
    border-top-left-radius: 50px;
}